<div class="banner text-center"
     style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ)">
  <h1>Awesome Watchlist</h1>
</div>

<div class="my-5">
  <%= render 'lists/form', list: @list %>
</div>

<hr>

<div class="cards">
  <% @lists.each do |list| %>
    <%= render 'lists/card', list: list %>
  <% end %>
</div>
