<%= render 'lists/banner', list: @list %>
<%#= link_to "Add Bookmark", new_list_bookmark_path(@list) %>

<% if @list.movies.empty? %>
  <div class="container mt-5 text-center justify-content-center align-items-center">
    <p>No bookmarks here yet...</p>
    <p>Add a movie to "<%= @list.name %>"!</p>
  </div>
<% end %>

<div class="cards">
  <% @list.bookmarks.each do |bookmark| %>
    <%= render 'bookmarks/card', bookmark: bookmark %>
  <% end %>
</div>

<hr class="my-4">
<%= render "bookmarks/form", list: @list, bookmark: @bookmark %>
<div class="mt-5"></div>
