<%= render 'lists/banner', list: @list %>
<%#= link_to "Add Bookmark", new_list_bookmark_path(@list) %>

<% if @list.movies.empty? %>
  <div class="container mt-5 text-center justify-content-center align-items-center">
    <p>No bookmarks here yet...</p>
  </div>
<% end %>

<div class="d-flex justify-content-center my-4">
  <button type="button" class="black-btn" data-bs-toggle="modal" data-bs-target="#bookmarkForm">
    Add a movie
  </button>
</div>

<div class="modal fade" id="bookmarkForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= render "bookmarks/form", list: @list, bookmark: @bookmark %>
      </div>
    </div>
  </div>
</div>

<div class="cards">
  <% @list.bookmarks.each do |bookmark| %>
    <%= render 'bookmarks/card', bookmark: bookmark %>
  <% end %>
</div>

<%# <hr class="my-4"> %>
<%# <%= render "bookmarks/form", list: @list, bookmark: @bookmark %>
<%# <div class="mt-5"></div> %>
