<nav class="navbar sticky-top navbar-dark bg-black justify-content-center">
  <div class="container-fluid justify-content-center">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <i class="fa-solid fa-film"></i> WatchList
    <% end %>
  </div>
</nav>
