.banner {
  height: fit-content;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;

  h1 {
    font-weight: 700;
    text-transform: uppercase;
    color: $light-gray;
    font-size: 3rem;
    letter-spacing: 0.16rem;
    text-shadow: 2px 2px 4px $gray;
  }
}

.banner-list {
  flex-direction: column;
  min-height: 50vh;

  p {
    color: $light-gray;
    font-size: 1.25rem;
    text-shadow: 0 0 4px $gray;
  }
}
